<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Belly_Button_Biodiversity_unit15_visualization_HW</title>
  <!-- Latest compiled and minified CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="/static/raphael-2.1.4.min.js"></script>
  <script src="/static/justgage.js"></script>

  <link rel="stylesheet" href="/static/app.css" type="text/css">
</head>

<body>  <!--Insert background="background image.JPG" but result text needs adjustment-->

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><b><center>Belly Button Biodiversity Dashboard</center></b></a>
      </div>
      
      </div>  
    </div>
  </nav>

  <div class="container">
    <h3><center>What's there in your belly button?</center></h3>
    <h5><center>- by Prakash Tendolkar, University of Texas at Austin></center></h5>
    <br>
    <h5><b><center>PROJECT GOAL: To make people aware of the types of germs residing in human belly buttons, so that they would keep it clean.</center></b></h5>
    <h5><b><center>NOTE 1 : Each sample (BB_XXX) contains different types of germs (called 'OTU ID's) from one person's belly button.</center></b></h5>
    <h5><b><center>NOTE 2 : Each types of germ (OTU ID) is identified by a unique number (e.g. 922, 2389, etc. See pie chart.)</center></b></h5>
    <h5><b><center>TAKE AWAY: Wash your belly button frequently. (For guidance, refer to Belly button washing frequency dial / gauge below.)</center></b></h5>
  </div>

  
    <!-- <div class = "col-xs-12 col-sm-12 col-md-12"></div> -->
      <div class="box">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <select name="Sample" id="selection">
            {% for item in sample_names %}
              <option value="{{item}}">{{item}}</option>
            {% endfor %}
            <p>Inside select tag</p>
          </select>
          <!-- creates/displays option select box with options below -->
          <ul id="meta">
          </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
          <div id="gauge" class="400x320px">
          </div>
        </div>
      </div>

      <div class="box_plot">
          <div class="col-xs-12 col-sm-5 col-md-5"></div>
            <div id="pie">
            </div>
            <h5><b><center>The legend shows OTU IDs (germs) by colors in the sample.</center></b></h5>
          </div>
        </div>
        <div class="box_plot">
          <div class="col-xs-12 col-sm-5 col-md-5"></div>
            <div id="bubble-chart">
            </div>
            <h5><b><center>Bubble sizes vary with sample values of OTU IDs (germs).</center></b></h5>
          </div>  
        </div>
      </div>
<script src="/static/plotly.js"></script>
</body>
</html>